.AddedBenefitsStart-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BenefitsShelves {
    height: 30rem;
}

.AddedBenefitsStart-text {
    font-size: 1.7rem;
    max-width: 40rem;
    text-align: right;
    margin-top: -2.8rem;
}

.AddedBenefitsStart-text p {
    margin-top: 1.5rem;
}

.AddedBenefitsStart-text-last {
   padding-top: 1.5rem;
}