.LoneCenterStart-text {
    list-style-type: disc;
    padding-right: 1.5rem;
    text-align: start;
    margin: 0;
    font-size: 1.5rem;
    position: relative;
    right: 15rem;
    margin-top: 2rem;
}

.LoneCenterStart-bathroom-img {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    max-width: 20rem;
}

.bathtub-grid {
    width: min(10rem, 90vw);
    margin: 0rem auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "top top"
        "left right";

    justify-items: center;
    align-items: center;

}

.bathtub-item {
    width: 24rem;
    aspect-ratio: 2 / 1.15;

    background-image: url("../assets/images/bath.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bathtub-item--top {
    grid-area: top;
}

.bathtub-item--left {
    grid-area: left;
}

.bathtub-item--right {
    grid-area: right;
}

.bathtub-item span {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.8rem;
    font-family: "yarden-bold";
    color: #FF6585;
}

@media (max-width: 1300px) {
    .bathtub-grid {
        width: min(20rem, 90vw);
        margin: 5rem auto;
    }
}
@media (max-width: 950px) {
    .bathtub-grid {
        width: min(50rem, 90vw);
        margin: 2rem auto;
    }
}

.LoneCenterStart-card-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 3rem;
}

.LoneCenterStart-card {
    background-color: #FF6585;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.5rem;
}

.bathtub-item-card {
    width: 19rem;
}

.bathtub-item-card span {
    font-size: 1.5rem;
}

@media (max-width: 850px) {
    .LoneCenterStart-card-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 5rem;
    }
}
