.Grants-conetnt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: fit-content;
    margin-inline: auto;
    gap: 3rem;
}

.remote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.remote p {
    color: #011760;
    width: 12rem;
    margin-bottom: 1rem;
}

.television-container {
    position: relative;
    width: 35rem;
    max-width: 90%;
    margin-inline: auto;
}

.television-img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-tap-highlight-color: transparent;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

/* מיקום הטקסט בתוך מסך הטלוויזיה */
.television-text {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    height: 59%;

    box-sizing: border-box;
    padding: 0.7rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 1.5rem;
    line-height: 1.3;
    text-align: center;
    direction: rtl;

    pointer-events: none;
}

.television-text strong {
    font-size: 1.5rem;
    font-weight: 800;
}

.television-text--small {
    font-size: 1.25rem;
    line-height: 1.25;
    text-align: right;
}

/* HouseMoney */

.HouseMoney-pillow-container {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 3rem;
    width: fit-content;
    margin-inline: auto;
}

.title-HouseMoney {
    -webkit-text-stroke: 1px #000000;
    background-image: url(../assets/images/sofa.png);
    background-size: 100% 100%;
    width: 22rem;
    padding: 4rem 1rem 3rem 1rem;
    line-height: 1;
    margin-inline: auto;
    margin-top: 4rem;
}

.HouseMoney-pillow-blue {
    background-image: url(../assets/images/pillow-blue.svg);
    font-size: 1.5rem;
    padding: 2.5rem 1.1rem;
    width: 16rem;
    height: 16rem;
    background-size: 100% 100%;
    margin: 0rem -1rem;
}
.HouseMoney-pillow-white {
    background-image: url(../assets/images/pillow-white.svg);
    font-size: 1.5rem;
    padding: 3rem 1.2rem;
    width: 13rem;
    height: 13rem;
    background-size: 100% 100%;
    color: #011760;
    margin: 0rem;
    z-index: 1;
}

.HouseMoney-pillow-blue strong {
    font-family: "yarden-bold";
}

.HouseMoney-pillow-white strong {
    font-family: "yarden-bold";
}

.GiftCards-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3rem;
    width: fit-content;
    margin-inline: auto;
    gap: 8rem;
}

.GiftCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.4rem;
    width: 17rem;
}

.giftCard-img {
    width: 17rem;
    margin-bottom: 1rem;
}

.giftCard-auto {
    color: white;
}

.giftCard-holiday {
    color: #011760;
}

.ktzina-bubble-endSubject-MoneyBenefits {
    left: 80%;
}